@import url('fonts/main_font.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'StratosSkyeng', sans-serif;
}

body {
    background-image: url("images/quart.gif");
    background-size: cover;
    background-attachment: fixed;
}

/* Центрирование из заготовки */
.center {
    padding-left: calc(50% - 500px);
    padding-right: calc(50% - 500px);
}

.content {
    min-height: 100vh;
    padding-top: 40px;
}

/* Навигация */
nav {
    margin-bottom: 40px;
}

nav a {
    text-decoration: none;
    background-color: #9810dc;
    color: white;
    padding: 10px 20px;
    margin-right: 15px;
    border-radius: 8px;
    transition: 0.3s;
}

nav a:hover {
    background-color: #805dd8;
}

/* Заголовки */
h1 {
    margin-bottom: 20px;
    font-size: 36px;
}

h2 {
    margin-bottom: 20px;
    font-size: 24px;
}

/* Текст */
p {
    margin-bottom: 20px;
    font-size: 18px;
}

ul, ol {
    margin-left: 25px;
    margin-bottom: 30px;
}

/* Картинки */
.main-img {
    width: 300px;
    margin: 20px 0;
    border-radius: 12px;
}

.memes img {
    width: 220px;
    margin: 15px;
    border-radius: 12px;
}
